<html>
    <head>
        <link rel="stylesheet" href="css/storestyle.css">
        <title>
            Store
        </title>
    </head>
    <body>
        <div class="topbar" >
            <div class="text"><p><b>"A writer only begins a book.<br>A reader finishes it."</b></p></div>
            <div id="navbar">
                <div id="name" style="font-size: 30px;margin-right: 90px;margin-left: 20px;">WEB NAME</div>
                <div id="home"><a href="homepage.html">Home</a></div>
                <div id="store"><a href="store.html">Store</a></div>
                <div id="contact"><a href="">Contact</a></div>
                <div id="abt"><a href="about.html">About</a></div>
                <div id="img">
                    <a href="profile.html"><img src="images/profile.png" alt="profile" width=35px></a>
                </div>
                <div id="search">
                    <form action="">
                        <input type="text" name="srch" placeholder="Search" >
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>